[Unit]
Requires=network-online.target
After=automation-interface-ui-backend-container.service

[Service]
Type=oneshot
ExecStart=/usr/bin/revp-container.sh start
ExecStop=/usr/bin/revp-container.sh stop
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
